@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}

/* *************************************HEADER ********************************************* */
#nav {
  height: 80px;
  width: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

#nav .menu-button i {
  font-size: 32px;
  margin-right: 20px;
  display: none;
  cursor: pointer;
}

#port {
  font-size: 1.5rem;
  margin-left: 20px;
}

#port:hover {
  color: rgb(0, 245, 90);
}

#nav ul {
  display: flex;
  gap: 20px;
  margin-right: 50px;

}

#nav li {
  display: block;
  list-style: none;
}

#nav li a {
  text-decoration: none;
  position: relative;
}

#nav ul li a::after {
  content: '';
  height: 3px;
  width: 0%;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: all 1s ease-in-out;
  background-image: linear-gradient(blue, lightblue);
  color: black;
}

#nav ul li a:hover::after {
  width: 100%;
}

.menu {
  height: 80%;
  width: 20px;
  font-size: 32px;
  margin-right: 50px;
  line-height: 2;
  display: none;
}

/* ***************************slide bar ************************************* */
.slide-bar {
  height: 100vh;
  width: 200px;
  background-color: #000000;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  display: none;
}

.slide-bar li {
  list-style: none;
}

.slide-bar a {
  height: 40px;
  text-decoration: none;
  position: relative;
}

.slide-bar li a::after {
  content: '';
  height: 3px;
  width: 0%;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: all 1s ease-in-out;
  background-image: linear-gradient(blue, lightblue);
  color: black;
}

.slide-bar li a:hover::after,
.active {
  width: 100%;
}

.cross {
  font-size: 32px;
}

/* ******************************************** MAIN ***************************************** */
.content {
  height: calc(100% - 80px);
  display: flex;
  background-color: #15191b;
}

.container-1 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 70px;
  padding: 10px 0px;
}

.container-1 h1 {
  text-align: center;
  margin-bottom: 10px;
}

.container-1 h1:hover,
.container-1 h1:hover {
  color: #00ffff;
}

.education-box1 {
  height: 85px;
  width: 55%;
  border-radius: 23px;
  border: 2px groove grey;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 10px;
  position: relative;
  background-color: #272640;
  color: #f7fff7;
}

.education-box1::after {
  content: '';
  height: 300px;
  width: 3px;
  background-image: linear-gradient(to right, #00ffff 100%, #330867 0%);
  position: absolute;
  top: 100%;
  left: 50%;
}

.education-box1:hover {
  box-shadow: 0px 0px 30px rgb(7, 255, 143);
}

.education-box2 {
  height: 85px;
  width: 55%;
  border-radius: 23px;
  border: 2px groove grey;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  background-color: #272640;
  color: #f7fff7;
}

/* .education-box2::after{
    content: '';
    height: 3px;
    width: 83px;
    background-image: linear-gradient(to right, #00ffff 100%, #330867 0%);
    position: absolute;
    top: 50%;
    right: 100%;
  } */
.education-box2:hover {
  box-shadow: 0px 0px 30px rgb(7, 255, 143);
}

.education-box3 {
  height: 85px;
  width: 55%;
  border-radius: 23px;
  border: 2px groove grey;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  background-color: #272640;
  color: #f7fff7;
}

/* .education-box3::after{
    content: '';
    height: 3px;
    width: 83px;
    background-image: linear-gradient(to right, #00ffff 100%, #330867 0%);
    position: absolute;
    top: 51%;
    right: 100%;
  } */
.education-box3:hover {
  box-shadow: 0px 0px 30px rgb(7, 255, 143);
}

.para-head {
  height: 40px;
  width: 90%;
  border-radius: 23px;
  background-color: #272640;
  color: #f7fff7;
  border: 1px groove grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.80rem;
  text-align: center;
  position: absolute;
  top: -20px;
  left: 20px;
  font-weight: 700;
  z-index: 1;
}

.para-point {
  position: relative;
  padding-left: 20px;
  font-size: 0.69rem;
  font-weight: 600;
}

.para-head:hover {
  background-color: #06d6a0;
  color: #000000;
  filter: drop-shadow(5px 5px 10px #2ec4b6);
  border: none;
}

.para-point::before {
  content: "";
  background-image: linear-gradient(to right, #00ffff 100%, #330867 0%);
  position: absolute;
  top: 0;
  left: -15px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

/* .line{
    height: 59vh;
    width: 3px;
    background-image: linear-gradient(to right, #00ffff 100%, #330867 0%);
    display: block;
    margin-top: 19px;
  } */


.container-2 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 70px;
  padding: 10px 0px;
}

.container-2 h1 {
  text-align: center;
  margin-bottom: 10px;
}

.container-2 h1:hover,
.container-1 h1:hover {
  color: #00ffff;
}

.education-box4 {
  height: 85px;
  width: 55%;
  border-radius: 23px;
  border: 2px groove grey;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 10px;
  position: relative;
  background-color: #272640;
  color: #f7fff7;
}

.education-box4::after {
  content: '';
  height: 300px;
  width: 3px;
  background-image: linear-gradient(to right, #00ffff 100%, #330867 0%);
  position: absolute;
  top: 100%;
  left: 50%;
}

.education-box4:hover {
  box-shadow: 0px 0px 30px rgb(7, 255, 143);
}

.education-box5 {
  height: 85px;
  width: 55%;
  border-radius: 23px;
  border: 2px groove grey;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  background-color: #272640;
  color: #f7fff7;
}

/* .education-box2::after{
    content: '';
    height: 3px;
    width: 83px;
    background-image: linear-gradient(to right, #00ffff 100%, #330867 0%);
    position: absolute;
    top: 50%;
    right: 100%;
  } */
.education-box5:hover {
  box-shadow: 0px 0px 30px rgb(7, 255, 143);
}

.education-box6 {
  height: 85px;
  width: 55%;
  border-radius: 23px;
  border: 2px groove grey;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  background-color: #272640;
  color: #f7fff7;
}

/* .education-box3::after{
    content: '';
    height: 3px;
    width: 83px;
    background-image: linear-gradient(to right, #00ffff 100%, #330867 0%);
    position: absolute;
    top: 51%;
    right: 100%;
  } */
.education-box3:hover {
  box-shadow: 0px 0px 30px rgb(7, 255, 143);
}

.para-head {
  height: 40px;
  width: 90%;
  border-radius: 23px;
  background-color: #272640;
  color: #f7fff7;
  border: 1px groove grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.80rem;
  text-align: center;
  position: absolute;
  top: -20px;
  left: 20px;
  font-weight: 700;
  z-index: 1;
}

.para-point {
  position: relative;
  padding-left: 20px;
  font-size: 0.69rem;
  font-weight: 600;
}

.para-head:hover {
  background-color: #06d6a0;
  color: #000000;
  filter: drop-shadow(5px 5px 10px #2ec4b6);
  border: none;
}

.para-point::before {
  content: "";
  background-image: linear-gradient(to right, #00ffff 100%, #330867 0%);
  position: absolute;
  top: 0;
  left: -15px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

/* .line{
    height: 59vh;
    width: 3px;
    background-image: linear-gradient(to right, #00ffff 100%, #330867 0%);
    display: block;
    margin-top: 19px;
  } */

@media (max-width: 600px) {
  #nav ul {
    display: none;
  }
.content{
  flex-direction: column;
}
.container-1 , .container-2 {
  width: 100%;
}
}

/* ******************************* Responsive for medium devices ********************** */
@media (max-width:1150px) {
  .menu {
    display: block;
  }

  .slide-bar a:hover,
  .active {
    background-color: transparent;
    color: cyan;
  }


}